body {
	padding-top: 70px;
    background: #265a88;
    font-family: 'Raleway', sans-serif;
}
a {
	text-decoration: none;
	color: white;
}
a:hover {
	color: #888;
}
.wrapper {
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: relative;
	color: #eee;
	text-align: center;
}