.navbar{
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}
body {
	padding-top: 70px;
    background: #265a88;
    font-family: 'Raleway', sans-serif;
}
section{
    background: #e7e7e7;
    border-radius: 6px;
    margin-bottom: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}
a{
    padding: 0 10px 0 10px;
}
footer p{
    text-align: left;
    margin: auto;
}
footer{
    border-radius: 6px;
}
img:hover{
    cursor: pointer;
}
img{
    margin: 10px 0 10px 0;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}