.navbar{
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    background: #fff;
}
body {
	padding-top: 70px;
    background: #265a88;
    font-family: 'Raleway', sans-serif;
}
section{
    background: #fff;
    border-radius: 6px;
    margin-bottom: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}
a{
    padding: 0 10px 0 10px;
}
footer p{
    text-align: left;
    margin: auto;
}
footer{
    border-radius: 6px;
}
img:hover{
    cursor: pointer;
}
img{
    margin: 10px 0 10px 0;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}
.contact {
    display: inline-flex;
    padding-top: 15px;
}

.navbar-nav {
    float: right;
}
@media screen and (max-width: 991px){
    .a-hide {
        display: none;
        background-size: 0;
    }
    .contact-img {
        font-size: 3em;
    }
    .contact {
        margin-left: 30px;
        padding-top: 8px;
    }
}
@media screen and (max-width: 470px){

}

@media screen and (max-width: 767px){
    .navbar-nav {
        float: none;
        text-align: center;
    }
}